<ion-content>
	<div class="cameraWait" *ngIf="!cameraStarted">
		<ion-progress-bar class="cameraWaitBar" type="indeterminate"></ion-progress-bar>
		<div class="cameraWaitText">Please wait, the camera is starting!</div>
	</div>
	<div *ngIf="cameraStarted">
		<div class="firebaseResult" *ngIf="firebaseResult$ | async as result">
			{{result}}
		</div>
		<img class="image" src="{{picture}}">
		<ion-button class="takePhotoButton" (click)="takePicture()" >take photo!</ion-button>
	</div>
</ion-content>
