.cameraWait {
    padding: 50% 10%;
}

.cameraWait .cameraWaitText {
    padding: 5%;
    text-align: center;
}

.takePhotoButton {
    bottom: 25px;
    left: 25px;
    position: fixed;
}

.image {
    bottom: 65px;
    left: 25px;
    position: fixed;
    width: 135px;
}