html, body, ion-app, ion-content, ion-page, .nav-decor {
  background-color: transparent !important;
}

.cameraWait {
    padding: 50% 10%;
}

.cameraWait .cameraWaitText {
    padding: 5%;
    text-align: center;
}